{{> navbar }}

<main class="curtain">
    <div class="article">
        <div class="article-details">
            <div>
                <figure class="category-logotype">
                    <img src="/assets/images/logotypes/javascript.svg">
                </figure>
                <span class="publication-date">{{ date page.date }}</span>
                {{> tags page.tags }}
            </div>
            <span class="article-title">{{ page.title }}</span>
        </div>
        <div class="article-content">
            {{{ page.content }}}
        </div>
    </div>
</main>

{{#> hero "Title" }}
    <p>This is a section you can present your offer to a reader.</p>
    <span class="notice">And this is a small notice.</span>
{{/ hero }}

<ul class="comments">
    <li class="new">
        <form method="POST" action="https://api.staticman.net/v2/entry/TheByteBits/bytebits-blog/master/comments">
            <input name="options[path]" type="hidden" value="{{ page.path }}">
            <header class="details">
                <input class="input author" name="fields[name]" type="text"
                       placeholder="What's your name?">
                <button class="button publish">Publish</button>
            </header>
            <textarea class="textarea" name="fields[message]"
                      placeholder="Please, share your thoughts!"></textarea>
        </form>
    </li>
    <li class="comment">
        <header class="details">
            <span class="author">Jeremy Tobias</span>
            <span class="publication-date">{{ date "01/01/2018" }}</span>
        </header>
        <p>
            It's awful. (I'm really jealous)
        </p>
    </li>
    <li class="comment">
        <header class="details">
            <span class="author">Toomz</span>
            <span class="publication-date">{{ date "01/01/2018" }}</span>
        </header>
        <p>
            Woah! Amazing!
        </p>
    </li>
</ul>

{{> footer }}