{{> navbar }}

<main class="curtain">
    <div class="article">
        <div class="article-details">
            <div>
                <figure class="category-logotype">
                    <img src="/assets/images/logotypes/javascript.svg">
                </figure>
                <span class="publication-date">{{ date page.date }}</span>
                {{> tags page.tags }}
            </div>
            <span class="article-title">{{ page.title }}</span>
        </div>
        <div class="article-content">
            {{{ page.content }}}
        </div>
    </div>
</main>


{{#> hero 'Title' }}
    <p>This is a section you can present your offer to a reader.</p>
    <span class="notice">And this is a small notice.</span>
{{/ hero }}

<ul class="comments">
    <li class="new">
        <form method="POST" action="https://api.staticman.net/v2/entry/TheByteBits/bytebits-blog/master/comments">
            <input name="options[redirect]" type="hidden" value="http://bytebits.io">
            <input name="options[path]" type="hidden" value="{{ normalize page.path }}">
            <header class="details">
                <input class="input author" name="fields[author]" type="text"
                       placeholder="What's your name?">
                <button class="button publish">Publish</button>
            </header>
            <textarea class="textarea" name="fields[content]"
                      placeholder="Please, share your thoughts!"></textarea>
        </form>
    </li>

    {{# each (query site.data (and (includes (normalize page.path)) (includes 'comments'))) as |comment| }}
        <li class="comment">
            <header class="details">
                <span class="author">{{ comment.author }}</span>
                <span class="publication-date">{{ date comment.datetime }}</span>
            </header>
            <p>
                {{{ comment.content }}}
            </p>
        </li>
    {{/ each }}
</ul>

{{> footer }}