{{> navbar }}


<main class="animation fade-in">
    <div class="container extended content-menu">
        <div class="menu">
            <ul>
                {{# each page.menu as |item| }}
                    <li>
                        <a href="#{{ item.value }}">{{ item.value }}</a>
                        <ul>
                            {{# each item.children as |item| }}
                                <li>
                                    <a href="#{{ replace item.value (re " / " "g") "-" }}">{{ item.value }}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="content">
            {{{ page.content }}}
        </div>
    </div>
</main>

{{> footer }}